@import "tailwindcss";

@theme {
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    --animate-blink: blink 1s ease-in-out infinite;

    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }

}